<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659593446855-tg282tl0er4puqcdm4au6gdhih02eeqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659593446855-tg282tl0er4puqcdm4au6gdhih02eeqo</string>
	<key>API_KEY</key>
	<string>AIzaSyB8Gv_bJH4XKS1U2PZnELPg7daIvsk2kCc</string>
	<key>GCM_SENDER_ID</key>
	<string>659593446855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>whalestestproject</string>
	<key>STORAGE_BUCKET</key>
	<string>whalestestproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659593446855:ios:e6ca8a718e4f529aaa85e2</string>
</dict>
</plist>